*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
@font-face {
    
    font-family: Font1;
    src:url(/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: Font2;
    src:url(font2.ttf);
}
@font-face {
    font-family:Font3 ;
    src:url(/College_Landing_Page/Slabo27px-Regular.ttf);
}
.logo-rel{
    height: 4.5vw;
    width: 100vw;
    top: 0px;
    position: sticky;
    z-index: 1000;
    opacity: 1;
}
.wrapper-times-6{
    position: absolute;
    height: 4.5vw;
    width: 85vw;
    left: 15vw;
    top: 0vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1000;
}
.times-6{
    display: none;
    height: 4.5vw;
    width: 14.17vw;
    background-color: rgb(98, 98, 172); 
    text-transform: uppercase;
    font-size: 1.5vmin;
    font-size: 1vmax;
    font-family: Font2;
    position: relative;
}
.times-6:hover{
    cursor: pointer;
    background-color: rgb(180, 180, 180);
}
.times-6 p{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.times-6-show{
    display: block;
}
.nav-logo{
    display: inline-block;
    background-image: url('/aissmscoe.png') ;
    height: 15vw;
    width: 50vw;
    left: 24.5vw;
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 0.3vw;
    position: absolute;
    z-index: 2000;
}
#btn{
    right: 4vw;
    top: 1.5vw;
    position: fixed;
    cursor: pointer;
    font-size: 1.5vw;
    z-index: 5000;
}
#btn:hover{
    color:red;
}
.dark-bg{
    height:200vw;
    width:100vw;
    background-color:rgb(1, 1, 36);  
    position: relative;
    top: 10vw;
}
.msg{
    color: white;
    position: absolute;
    width:100vw;
    height:25vw;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #d4162f, #e34825, #ee6d19, #f48f0d, #f6b011);
    -webkit-background-clip:text;
	-webkit-text-fill-color:transparent;

}
.msg p{
    font-size:8vw;
    
    /* font-size:10vmax;
    font-size: 10.5vmin; */
    font-family:Font1;
    text-align: center;
    margin:10% auto;
    width:fit-content;

}

.wrap{
    display: flex;
    position: relative;
    top:30vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height:100vw;
    width: 100vw;
}
.vision{
    height: 10vw;
    width: 70vw;
    left:0vw;
    position:absolute;
    color: white;
    background: rgb(255, 222, 156);
    background: radial-gradient(circle, rgba(236,163,21,1) 10%, rgba(249,229,2,1) 94%);
}
.mission{
    height: 35vw;
    width: 70vw;
    left:0vw;
    position:inherit;
    top: 11vw;
    color: white;
    background: rgb(236,163,21);
    background: radial-gradient(circle, rgba(236,163,21,1) 10%, rgba(249,229,2,1) 94%);
}
.delay{
    height: 0vw;
    width: 70vw;
    left:0vw;
    position:inherit;
    top: 1vw;
    color: white;
    background: rgb(236,163,21);
    background: radial-gradient(circle, rgba(236,163,21,1) 10%, rgba(249,229,2,1) 94%);
}

.img-right{
    height: 45vw;
    width:30vw;
    position:absolute;
    /* float:right; */
    right:0vw;
   /* background-color: #d4162f  */
    background:url('shahu2.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.menu{
    font-size: 30px;
    font-family: Font1;
    background: rgb(45,164,253);
    background: linear-gradient(0deg, rgba(45,164,253,1) 57%, rgba(80,104,252,1) 94%);
    width:100%;
    height:100%;
    top:0px;
    right:-100vw;
    z-index:2000;
    position:fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transition:right 1000ms cubic-bezier(0.53, 0.17, 0.34, 0.92);
}
.menu::-webkit-scrollbar { 
    display: none; 
}
#menu_item ul{
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#menu_item ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: 2.5vmin;
    line-height: 6vw;
    font-family: font1;
    color: white;
    margin: 0%;
    width: 100vw;
}
@font-face {
    font-family: font1;
    src: url(font1.ttf);
}
.item{  
    height: 6vw ;
    display:inline-block; 
    margin: 0;
    border-radius: 10% 10% 0 0 ;
    user-select: none;
    text-transform: uppercase;
}
.item:hover{
    cursor: pointer;
    transform: scale(1.09);
    transition: all 200ms ease-in-out;
}

.Division{
    width: 95vw;
    height: fit-content;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.add{
    display: block;
    background-color:rgb(0, 128, 128);
    animation: div_animation 700ms cubic-bezier(0.94, 0.28, 0.13, 0.47)
}
.add_out{
    display: block;
    background-color:rgb(0, 128, 128);
    animation: div_animation_out 700ms cubic-bezier(0.94, 0.28, 0.13, 0.47)
}
@keyframes div_animation{
    0%{
        height: 0vw;
        width: 0vw;
    }
    50%{
        width: 0vw;
    }
    100%{
        height: max-content;
        width: 95vw;
    }
}
@keyframes div_animation_out{
    0%{
        height: max-content;
        width: 95vw;
    }
    50%{
        width: 30vw;
    }
    100%{
        height: 0vw;
        width: 0vw;
    }
}
.sub-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    text-align: center;
    visibility: hidden;
}
.sub-menu-1{
    text-transform: uppercase;
    width: 100%;
    height: 5vw;
    margin: auto;
    line-height: 3;
    font-size: 1.9vmin;
    font-size: 1.1vmax;
    color: black;
    font-weight: bolder;
    transform: scale(1);
    opacity: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sub-menu-1 span:hover{
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.75;
}
.sub-menu-timer{
    visibility: visible;
    animation: sub-menu-animation 500ms ease-in ;
}
@keyframes sub-menu-animation {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

#btn-close{
    position: absolute;
    top: 7px;
    right: 15px;
    margin:1rem;;
}
#btn-close:hover{
    cursor: pointer;    
}
.show{
    right: 0px;
    transform: right 600ms ease-in;
    z-index: 1000;
}

.wrapper{

    margin:1.5rem;
}
.on-screen{
    margin-bottom:50px;
    /* transform: translate(650px,50px); */
    transform:translateY(100px);
    opacity:0.5;
    transition: opacity,transform 1000ms ease;

}
.active{
    transform: translateY(0);
    opacity:1;
}
.courses{
    background-color: wheat;
    /* grid-area:a; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    
}

.courses-info{
    /* margin:0rem 1.2rem; */
    width: 10vw;
    height:20vh;
    background-color: brown;
 

    
}
.courses-info a {
    color: black;
    margin: 0.2rem auto;

}
.about{
    background-color: yellow;
    /* grid-area:b ; */
  
}
.news{
    background-color:orange;
    /* grid-area:c; */
    
}
.enquiry{
    background-color:red;
    /* grid-area:d ; */

}

.enquiry form{
    display: flex;
    flex-direction:column;
    padding:0.5rem;
}
.enquiry form input{
    height:4vh;
    margin-bottom: 0.5rem ;
    background-color: rgb(192, 187, 187);
    border: 1px solid black;
    border-radius:5px;
}
.enquiry input:nth-child(3)
{
    height: 6vh;
}
.enquiry form button{
    margin: auto;
    margin-top: 0.2rem;
    border: 2px solid skyblue;
    border-radius: 5px;
}

.study{
    background-color: pink;
    /* grid-area:e; */
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.study a{
    margin:auto;
}

.blog{
    background-color:green;
    grid-area:f ;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: brown;
}